table {
  border-collapse: collapse;
}
.scroll-table {
  width: 100%;
  overflow-x: auto;
}

.column-group {
  background-color: red;
}

th.column-header-group {
  border-radius: 8px 8px 0 0;
  text-align: center;
}

th, td {
  text-align: right;
  padding: 1px 8px;
}

td {
  border-bottom: 1px solid green;
}

.spacer {
  width: 4px;
}

.quantityItem {
  background-color: purple;
}

.priceItem {
  background-color: aqua;
}

.priceValue {
  white-space: nowrap;
}

.quantityValue {
  white-space: nowrap;
}

.hidingColumn {
  display: none;
}

td.header-name {
  text-align: left;
}

td.priceValue {
  text-align: left;
}

td.quantityValue {
  text-align: left;
}

.card-name {
  color: white;
  text-align: left;
  background-position: left, -50% 27%;
  background-size: auto, 105%;
  width: 240px;
  min-width: 240px;
}