body {
  background-color: #0D0D0D;
  padding: 0;
}

.App {
  margin: 200px auto;
  color: white;
  max-width: 760px;
  text-align: center;
}
.home-title {
  padding-left: 48px;
  padding-right: 48px;
}
.home-description {
  margin-top: 32px;
}

.home-description .a {
  color: #86171a;
}

.home-description a:visited {
  color: #86171a;
}

.home-description a:hover {
  color: #FF8A8D;
}
