body {
    margin: 0px;
    padding: 0px;
}

#topbar-container {
    position: fixed;
    height: 60px;
    width: 100%;
    z-index: 100;
    background-color: rgba(200,200,200,.4);
}

#title {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
    float: left;
    filter: blur(10px);
}

#title p {
    color: white;
    font-size: 26px;
    margin-top: 12px;
    text-align: center;
}

#logo {
    float: left;
    width: 15%;
    height: 100%;
}

#search {
    float: right;
    width: 15%;
    height: 100%;
}

#hero {
    height: 40%;
    overflow: hidden
}

#library {
    width: 100%;
    margin-top: -61px;
}

#bookshelf {

}

#backdrop {
    height: calc(100% + 40px);
    position: absolute;
    width: 100%;
    z-index: 0;
}

.shelf {
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
    height: 100%;
    transition: .3s ease;
}

.book {
    margin-right: 50px;
    margin-bottom: 50px;
    float: left;
    width: 200px;
    height: 400px;
    background-color: white;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    color: #64696a;
    perspective: 800px;
    position: relative;
    z-index: 2;
    transition: .3s ease;
}

.cover {
    width: 170px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    height: 220px;
    background-color: rgba(0, 128, 255, 0.2);
    transform-style: preserve-3d;
    perspective: 800px;
    transition: .4s ease;
}

.description {
    position: absolute;
    top: 30px;
    width: 200px;
    left: 90px;
    height: 210px;
    transition: .3s ease;
    display: none;
    opacity: 0;
    text-align: center;
    font-style: italic;
    font-size: 15px;
}
.course {
    font-size: 14px;
    width: 160px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4px;
    height: 35px;
}

.title {
    text-align: center;
    margin-top: 10px;
    font-size: 22px;
    bottom: 0px;
    width: 185;
    margin-left: auto;
    margin-right: auto;
}

.divide {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    height: 1px;
    background-color: rgba(0,0,0,.2);
    margin-top: 3px;
    margin-bottom: 3px;
}

.author {
    text-align: center;
    font-size: 18px;
}


./* --------- JQuery Mods --------- */

.cover-select {
    transform: rotateY(70deg) scale(0.9) translateZ(-110px);
    
}

.other {
    transform: rotateY(70deg) scale(0.9) translateZ(-110px);
}

.shelf-active {
    width: 1100px;
    transition: .3s ease;
}

.book-active {
    width: 300px;
    transition: .3s ease;
}